.bx_my_order_cancel{
	margin-top: 20px;
	font-size: 15px;
}
.bx_my_order_cancel a{

}

.bx_my_order_cancel textarea{
	margin-top: 10px;
	height: 100px;
	width: 100%;
	max-width: 500px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #ccc;
}

.bx_my_order_cancel  input[type="submit"]{
	border-radius:3px;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	color: #3f3f3f !important;
	font-weight: bold;
	font-size: 13px;
	padding: 10px 25px;
}
.bx_my_order_cancel .bx_shadow input[type="submit"]{  }
.bx_my_order_cancel .bx_shadow input[type="submit"]:active{box-shadow:none}

.bx_my_order_cancel  input[type="submit"] 		{
	color: #a64221 !important; line-height: auto !important; padding: 0px; height: 40px;
}
.bx_my_order_cancel  input[type="submit"]:hover{background:#fff}
.bx_my_order_cancel  input[type="submit"]:active {

}

.bx_my_order_cancel .bx_small input[type="submit"]{
	display:inline-block;
	min-width:20px;
	line-height:20px;
}
.bx_my_order_cancel .bx_small input[type="submit"] 		{}
.bx_my_order_cancel .bx_small input[type="submit"]:hover {}
.bx_my_order_cancel .bx_small input[type="submit"]:active{}

.bx_my_order_cancel .bx_medium input[type="submit"]	{
	padding:0 13px;
	height:25px;
	font-weight:bold;
	line-height:25px;
}

.bx_my_order_cancel .bx_medium input[type="submit"] 		 {font-weight:bold}
.bx_my_order_cancel .bx_medium input[type="submit"]:hover {}
.bx_my_order_cancel .bx_medium input[type="submit"]:active{}

.bx_my_order_cancel .bx_big input[type="submit"]	{
	padding:0 13px;
	height:34px;
	font-weight:bold;
	line-height:34px;
}

.bx_my_order_cancel .bx_big input[type="submit"] 	  {}
.bx_my_order_cancel .bx_big input[type="submit"]:hover {}
.bx_my_order_cancel .bx_big input[type="submit"]:active{}

.bx_my_order_cancel_switch {
	margin-bottom: 15px;
	line-height: 30px;
}
.bx_my_order_cancel_switch .bx_mo_link{
	margin-right: 20px;
}